
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/back.jpg);
    background-size: 95%; 
    background-repeat: no-repeat;
    background-position: center;
    filter: sepia(30%) grayscale(20%) contrast(90%) brightness(95%) blur(1px);
    cursor: url('img/Subject 14.png') 30 30, auto;
}

body:hover {
    cursor: url('img/Subject 14.png') 30 30, auto;
}

body, html {
height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.carousel-container {
    position: relative;
    width: 1030px;
  
    height: 580px; 
    overflow: hidden;
    border: 3px solid #333;
    margin-bottom: 280px;
    margin-top:50px;
    
    
    
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: none;
    
}


.carousel-image.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100px;  
    height: 100px; 
}

.prev-btn {
    left: 10px;
    background-image: url('img/arrow.svg'); 

    margin-left: 25px;
}

.next-btn {
    right: 10px;
    background-image: url('img/arrow.svg'); 
    margin-right: 25px;
    transform: translateY(-50%) scaleX(-1); 
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
    background-image: url('img/sparkles!.gif'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15; 

    pointer-events: none; 
}